<html>
<body>
    <div class="container">
        <h1>Welcome to the NFTs Art Newsletter</h1>
        <p>Dear {{ name }}</p>
        <p>
            Thank you for signing up for our NFTs Art newsletter! We're thrilled to have you as part of our community.
        </p>
        <p>
            By subscribing, you'll be the first to know about:
        </p>
        <ul>
            <li>The latest updates in the world of digital art and NFTs.</li>
            <li>Exclusive previews of new product releases.</li>
            <li>Special offers and events that you won't want to miss.</li>
        </ul>
        <p>
            Stay tuned for your first edition of the NFTs Art newsletter, coming soon!
        </p>
        <p>
            Best regards,<br>
            The NFTs Art Team
        </p>
    </div>
</body>
</html>