@media screen and (max-width: 1200px) {
    :root {
        --phases-gap: 32px;
        --popular-collection-cards-gap: 24px;
        --popular-collection-cards-count: 4;
        --nft-cards-count: 3;
        --nft-cards-gap: 16px;
        --collection-cards-count: 2;
        --collection-cards-gap: 24px;
        --clan-member-gap: 24px;
        --clan-member-count: 3;
        --wallet-gap: 25px;
        --wallet-count: 5;
    }

    .nav-links {
        gap: 36px;
    }
}


@media screen and (max-width: 992px) {
    :root {
        --phases-gap: 22px;
        --popular-collection-cards-gap: 24px;
        --popular-collection-cards-count: 2;
        --nft-cards-count: 2;
        --nft-cards-gap: 16px;
        --collection-cards-count: 2;
        --collection-cards-gap: 24px;
        --clan-member-gap: 24px;
        --clan-member-count: 2;
        --wallet-gap: 25px;
        --wallet-count: 3;
    }

    .nav-links,
    .nav-button {
        display: none;
    }

    #nav-menu-icon {
        display: block;
    }

    .auction,
    .auction-detail-section .auction,
    .form {
        grid-template-columns: 100%;
    }

    .roadmap .phase-title {
        font-size: 20px;
    }

    .roadmap .phase-desc {
        font-size: 12px;
    }

    .collection-cards-filters {
        gap: 32px;
    }

    .newsletter-faq {
        flex-direction: column;
        gap: 80px;
    }
}


@media screen and (max-width: 768px) {
    :root {
        --phases-gap: 22px;
        --popular-collection-cards-gap: 24px;
        --popular-collection-cards-count: 2;
        --nft-cards-count: 2;
        --nft-cards-gap: 16px;
        --collection-cards-count: 2;
        --collection-cards-gap: 24px;
        --clan-member-gap: 24px;
        --clan-member-count: 2;
        --wallet-gap: 25px;
        --wallet-count: 2;
    }

    .footer {
        gap: 24px;
        flex-direction: column;
    }

    .footer-links {
        align-items: flex-start;
    }

    .hero-title {
        width: 340px;
        font-size: 34px;
        line-height: 46px;
    }

    .gear-icon {
        width: 32px;
        height: 32px;
    }

    .hero-card {
        width: 180px;
        height: 280px;
    }

    .hero-card:first-of-type,
    .hero-card:last-of-type {
        width: 160px;
        height: 240px;
    }

    .hero-card:first-of-type {
        transform: rotate(-15deg) translate(25px, 45px);
    }

    .hero-card:last-of-type {
        transform: rotate(15deg) translate(-25px, 45px);
    }

    .btn-green,
    .btn-outline-green {
        padding: 16px 24px;
        border-radius: 32px;
        font-size: 14px;
        line-height: 12px;
    }

    .get-in-touch-button {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 24px;
    }

    .auction-buttons {
        gap: 16px;
    }

    .sales-nfts-table th {
        font-size: 10px;
    }

    .sales-nfts-table td {
        font-size: 12px;
    }

    .roadmap-phases .phases {
        flex-direction: column;
    }

    .roadmap-phases .phase {
        align-items: flex-start;
        text-align: left;
        width: 100%;
        gap: 6px;
        margin-left: 50px;
        text-align: left;
    }

    .roadmap-line {
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 16px;
        height: 85%;
    }

    .roadmap-line .roadmap-vector {
        width: 1px;
        height: 100%;
    }

    .collection-cards-filters {
        flex-direction: column;
        gap: 56px
    }

    .notfound h2 {
        font-size: 24px;
    }
}


@media screen and (max-width: 576px) {
    :root {
        --phases-gap: 24px;
        --popular-collection-cards-count: 1;
        --popular-collection-cards-gap: 24px;
        --popular-collection-cards-count: 2;
        --nft-cards-count: 1;
        --nft-cards-gap: 16px;
        --collection-cards-count: 1;
        --collection-cards-gap: 24px;
        --clan-member-gap: 24px;
        --clan-member-count: 1;
        --wallet-gap: 25px;
        --wallet-count: 1;
    }

    .btn-green,
    .btn-outline-green {
        padding: 16px 32px;
        font-size: 10px;
        line-height: 12px;
    }

    .hero-card {
        width: 120px;
        height: 180px;
        padding: 6px;
        gap: 6px;
    }

    .hero-card:first-of-type,
    .hero-card:last-of-type {
        width: 110px;
        height: 150px;
    }

    .hero-card:first-of-type {
        transform: rotate(-15deg) translate(10px, 35px);
    }

    .hero-card:last-of-type {
        transform: rotate(15deg) translate(-10px, 35px);
    }

    .hero-card .artist-image {
        width: 100%;
        height: calc(100% - 45px);
    }

    .hero-card .artist-name {
        font-size: 10px;
        line-height: 6px;
    }

    .hero-card .artist-subinfo {
        font-size: 9px;
        line-height: 12px;
    }

    .sales-nfts-table th {
        font-size: 8px;
        padding: 6px;
    }

    .sales-nfts-table td {
        font-size: 8px;
        padding: 6px 8px;
    }

    .sales-nfts-table button {
        font-size: 10px;
        padding: 6px 16px;
    }

    .get-in-touch-input {
        font-size: 12px;
        padding: 10px 12px 10px 45px;
    }

    .join-buttons {
        gap: 16px;
    }

    .roadmap-container {
        grid-template-columns: 100%;
    }

    .roadmap-container .phase {
        margin-left: 50px;
        grid-column: 1;
        text-align: left;
    }

    .roadmap-indicator {
        top: 15px;
        left: 15px;
    }

    .notfound h1 {
        font-size: 160px;
    }

    .notfound h2 {
        font-size: 14px;
    }
}