{% extends "layout.html" %}

{% block title %}
    Collections
{% endblock title %}

{% block main %}

<section class="collection-section">
    <div class="container">
        <div class="nft-collections">
            <div class="nft-collections-title">
                <h2 class="section-title">{{ title }}</h2>
                {% if title == 'My Collections' %}
                <a href="{% url 'user:update_profile' %}">
                    <button class="btn-outline-green">My profile</button>
                </a>
                {% endif %}
            </div>
            <div class="nft-collections-container">
                <div class="collection-search">
                    <div class="collection-search-input">
                        <input type="text" class="search-input" placeholder="Search collections" id="collection-search"  name="search" value="{{ search_query }}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-xmark remove-search-btn hidden"></i>
                    </div>
                    <div class="collection-select-filter">
                        <select name="blockchains" id="blockchains" class="filter-select">
                            <option value="all" {% if blockchain_filter == 'all' %}selected{% endif %}>All blockchains</option>
                            {% for blockchain in blockchains %}
                                <option value="{{ blockchain.id }}" {% if blockchain.id|stringformat:"s" == blockchain_filter %}selected{% endif %}>{{ blockchain.name }}</option>
                            {% endfor %}
                        </select>
                        <select id="sort-by-collection" class="filter-select">
                            <option value="default">Sort By</option>
                            <option {% if 'name-asc' == sort_by %}selected{% endif %} value="name-asc">Name: A to Z</option>
                            <option {% if 'name-desc' == sort_by %}selected{% endif %} value="name-desc">Name: Z to A</option>
                        </select>
                    </div>
                    <div class="collection-grid-switches">
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch2" class="hidden" checked>
                            <label for="switch2">
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                            </label>
                        </div>
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch3" class="hidden">
                            <label for="switch3">
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="collection-cards-filters">
                    {% if categories %}
                    <div class="collection-filters">
                        <div class="collection-filter">
                            <div class="collection-filter-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="collection-filter-items">
                                {% for category in categories %}
                                    <div class="collection-filter-item">
                                        <label class="collection-filter-item-text" for="category-{{ category.id }}">{{ category.name }}</label>
                                        <input class="collection-filter-checkbox hidden" id="category-{{ category.id }}"
                                            type="checkbox" name="category" value="{{ category.id }}"   
                                            {% if category.id|stringformat:"s" in category_filter %} checked {% endif %}>
                                        <label class="filter-check-icon" for="category-{{ category.id }}">
                                            <i class="fa-solid fa-check check-icon"></i>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if page_obj %}
                    <div class="collection-cards-pagination">
                        <div class="collection-cards">
                            {% include 'partials/collection-cards.html' %}
                        </div> 
                        {% if paginator.num_pages > 1 %}
                        <div class="collection-pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    <div class="icon-box">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </div>
                                </a>
                            {% else %}
                                <div class="icon-box disabled">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </div>
                            {% endif %}
                            <div class="pagination">
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <strong class="pagination-number">{{ num }}</strong>
                                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
                                        <a href="?page={{ num }}" class="pagination-number">{{ num }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">
                                    <div class="icon-box">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </a>
                            {% else %}
                                <div class="icon-box disabled">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <a href="{% url 'collection:create' %}">
                        <button class="form-button btn-green">Create Collection</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>  

{% if top_collectors_1 %}
<section class="top-collectors-section">
    <h2 class="section-title">Our Top Collectors</h2>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_1 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="{{ collector.avatar.image.url }}" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_2 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="{{ collector.avatar.image.url }}" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock main %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.follow-btn').forEach((button) => {
            button.addEventListener('click', () => {
                const userId = button.getAttribute('data-user-id');
                let url = '{% url "user:follow" 0 %}';
                url = url.replace('0', userId);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    credentials: 'same-origin'
                })
                .then(response => response.json())
                .then(data => {
                    document.querySelectorAll('.follow-btn').forEach(btn => {
                        if (btn.getAttribute('data-user-id') == userId) {
                            if (data.status == 'followed'){
                                btn.classList.remove('btn-green');
                                btn.classList.add('btn-outline-green');
                                btn.textContent = 'Following';
                            }
                            else if (data.status === 'unfollowed') {
                                btn.classList.remove('btn-outline-green');
                                btn.classList.add('btn-green');
                                btn.textContent = 'Follow';
                            }
                            const followersCountElement = btn.closest('.collection-card-detail').querySelector('.creator-followers-count');
                            followersCountElement.textContent = data.follower_count;
                        }
                    });
                });
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function applyFilters() {
            const search = document.getElementById('collection-search').value;
            const blockchain = document.getElementById('blockchains').value;
            const categories = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(checkbox => checkbox.value);
            const sort_by = document.getElementById('sort-by-collection').value;
            const params = new URLSearchParams();

            if (search) params.append('search', search);
            if (blockchain && blockchain !== 'all') params.append('blockchain', blockchain);
            if (sort_by && sort_by !== 'default') params.append('sort_by', sort_by);
            categories.forEach(category => params.append('category', category));
    
            const url = '?' + params.toString();
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.querySelector('.collection-cards').innerHTML = data.html;
            })
            .catch(error => console.error('Error:', error));
        }
    
        document.getElementById('blockchains').addEventListener('change', applyFilters);
        document.getElementById('sort-by-collection').addEventListener('change', applyFilters);
        document.getElementById('collection-search').addEventListener('keyup', applyFilters);
        const categoryCheckboxes = document.querySelectorAll('.collection-filter-checkbox');
        categoryCheckboxes.forEach(checkbox => checkbox.addEventListener('change', applyFilters));
    });
</script>

{% endblock scripts %}