{% extends "layout.html" %}

{% block title %}
    Collection detail
{% endblock title %}

{% block main %}

<section class="collection-section">
    <div class="container">
        <div class="collection-cards-filters">
            <div class="collection-creators-filters">
                <div class="collection-creators">
                    <h2 class="collection-creators-title">The Best Collectors for <br>NFTs</h2>
                    <div class="collection-creator">
                        <div class="avatar">
                            <img class="avatar-img" src="{{ collection.creator.avatar.image.url }}">
                            <div class="avatar-icons">
                                <div class="verified-icon">
                                    <i class="star-icon"></i>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="collection-creator-desc">
                            <div class="collection-creator-info">
                                <h4 class="collection-creator-fullname">{{ collection.creator.fullname }}</h4>
                                <p class="collection-creator-username">@{{ collection.creator.username }}</p>
                            </div>
                            <div class="collection-creator-detail">
                                <div class="collection-creator-stats">
                                    <div class="collection-creator-stat">
                                        <p>Collections</p>
                                        <h5>{{ collection.creator.collections.count }}</h5>
                                    </div>
                                    <div class="collection-creator-stat">
                                        <p>Followers</p>
                                        <h5 class="creator-followers-count">{{ collection.creator.followers.count }}</h5>
                                    </div>
                                </div>
                                {% if request.user == collection.creator %}
                                {% elif following %}
                                    <button class="btn-outline-green collection-card-btn follow-btn" data-user-id="{{ collection.creator.id }}">Following</button>
                                {% else %}
                                    <button class="btn-green collection-card-btn follow-btn" data-user-id="{{ collection.creator.id }}">Follow</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection-filters">
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Status</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="collection-filter-items dropdown-content opened">
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-auction" >On Auction</label>
                                <input class="collection-filter-checkbox hidden" id="status-auction" type="checkbox" name="status" value="auction">
                                <label class="filter-check-icon" for="status-auction"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-expired" >Expired</label>
                                <input class="collection-filter-checkbox hidden" id="status-expired" type="checkbox" name="status" value="expired">
                                <label class="filter-check-icon" for="status-expired"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-not-on-sale">Not on sale</label>
                                <input class="collection-filter-checkbox hidden" id="status-not-on-sale" type="checkbox" name="status" value="not-on-sale">
                                <label class="filter-check-icon" for="status-not-on-sale"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Price</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="dropdown-content opened">
                            <div class="collection-filter-items-fd-row">
                                <input type="number" class="filter-input" placeholder="Min" id="min-value">
                                <p class="filter-input-text">To</p>
                                <input type="number" class="filter-input" placeholder="Max" id="max-value">
                            </div>
                        </div>
                    </div>
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Currency</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="collection-filter-items dropdown-content opened">
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="currency-all">Show all</label>
                                <input class="collection-filter-radio hidden" id="currency-all" type="radio" name="currency" value="all" checked>
                                <label class="filter-check-icon" for="currency-all"><i class="radio-icon"></i></label>
                            </div>
                            {% for currency in currencies %}
                                <div class="collection-filter-item">
                                    <label class="collection-filter-item-text currency-text" for="currency-{{ currency.symbol }}">{{ currency.symbol }}</label>
                                    <input class="collection-filter-radio hidden" id="currency-{{ currency.symbol }}" type="radio" name="currency" value="{{ currency.symbol }}">
                                    <label class="filter-check-icon" for="currency-{{ currency.symbol }}"><i class="radio-icon"></i></label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection-cards-pagination">
                <div class="collection-search">
                    <div class="collection-search-input">
                        <input type="text" class="search-input" placeholder="Search collections" id="nft-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-xmark remove-search-btn hidden"></i>
                    </div>
                    <div class="collection-select-filter">
                        <select id="sort-by" class="filter-select">
                            <option value="default">Sort By</option>
                            <option value="price-asc">Price: Low to High</option>
                            <option value="price-desc">Price: High to Low</option>
                            <option value="name-asc">Name: A to Z</option>
                            <option value="name-desc">Name: Z to A</option>
                        </select>
                    </div>
                    <div class="collection-grid-switches">
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch1" class="hidden" checked>
                            <label for="switch1">
                                <div class="switch1-icon"></div>
                                <div class="switch1-icon"></div>
                            </label>
                        </div>
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch2" class="hidden">
                            <label for="switch2">
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                            </label>
                        </div>
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch3" class="hidden">
                            <label for="switch3">
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="collection-nft-cards">
                    {% for nft in nfts %}
                        <div class="nft-card" data-status="{{ nft.get_status }}" 
                            data-currency="{% if nft.auctions %}{{ nft.auctions.first.currency.symbol }}{% endif %}" 
                            data-price="{% if nft.auctions %}{{ nft.auctions.first.price }}{% endif %}">

                            <a href="{% url 'collection:nft_detail' collection.id nft.id %}">
                                <h4 class="nft-name">{{ nft.name }}</h4>
                            </a>
                            <a href="{% url 'collection:nft_detail' collection.id nft.id %}">
                                <div class="nft-card-image">
                                    <img src="{{ nft.image.url }}" class="nft-image">
                                </div>
                            </a>
                            <div class="nft-detail">
                                {% if nft.auctions.exists %}
                                    <div class="nft-highest-bid">
                                        <p>Highest bid</p>
                                        <h4 class="nft-price">{{ nft.auctions.first.price }} {{ nft.auctions.first.currency.symbol }}</h4>
                                    </div>
                                    <div class="nft-time">
                                        <span>{{ nft.auctions.first.end_time }}</span>
                                    </div>
                                {% else %}
                                    <div class="not-on-sale">
                                        <h4>Not on sale</h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if nfts.count > 12 %}
                    <div class="collection-pagination">
                        <div class="icon-box">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                        <div class="pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </div>
                        <div class="icon-box">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="top-collectors-section">
    <h2 class="section-title">Our Top Collectors</h2>
    <div class="top-collectors-list auto-scroll">
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar3.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
    </div>
    <div class="top-collectors-list auto-scroll">
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar3.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}


{% block scripts %}

<script>
    $(document).ready(function(){
        $('.follow-btn').click(function(){
            const userId = $(this).data('user-id');
            const button = $(this);
            const followersCountElement = button.closest('.collection-creator-detail').find('.creator-followers-count');
            let followersCount = parseInt(followersCountElement.text());
            let url = '{% url "user:follow" 0 %}';
            url = url.replace('0', userId);

            $.ajax({
                url: url,
                method: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function(data) {
                    if (data.status == 'followed') {
                        button.removeClass('btn-green').addClass('btn-outline-green').text('Following');
                        button.closest('.collection-creator-detail').find('.creator-followers-count').text(followersCount + 1);
                    } else if (data.status == 'unfollowed') {
                        button.removeClass('btn-outline-green').addClass('btn-green').text('Follow');
                        button.closest('.collection-creator-detail').find('.creator-followers-count').text(followersCount - 1);
                    }
                },
            });
        });
    });
</script>

{% endblock scripts %}