{% extends "layout.html" %}

{% block title %}
    Collection detail
{% endblock title %}

{% block main %}

<section class="collection-section">
    <div class="container">
        <div class="collection-cards-filters">
            <div class="collection-creators-filters">
                <div class="collection-creators">
                    <h2 class="collection-creators-title">The Best Collectors for <br>NFTs</h2>
                    <div class="collection-creator">
                        <a href="{% url 'collection:user_collections' collector.username %}">
                            <div class="avatar">
                                <img class="avatar-img" src="{{ collector.avatar.image.url }}">
                                <div class="avatar-icons">
                                    <div class="verified-icon">
                                        <i class="star-icon"></i>
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="collection-creator-desc">
                            <div class="collection-creator-info">
                                <a href="{% url 'collection:user_collections' collector.username %}">
                                    <h4 class="collection-creator-fullname">{{ collector.fullname }}</h4>
                                </a>
                                <a href="{% url 'collection:user_collections' collector.username %}">
                                    <p class="collection-creator-username">@{{ collector.username }}</p>
                                </a>
                            </div>
                            <div class="collection-creator-detail">
                                <div class="collection-creator-stats">
                                    <div class="collection-creator-stat">
                                        <p>Collections</p>
                                        <h5>{{ collector.collections.count }}</h5>
                                    </div>
                                    <div class="collection-creator-stat">
                                        <p>Followers</p>
                                        <h5 class="creator-followers-count">{{ collector.followers.count }}</h5>
                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                {% if request.user == collector %}
                                    <a href="{% url 'collection:user_nfts' collector.username %}">
                                        <button class="btn-green collection-card-btn">My NFTs</button>
                                    </a>
                                {% elif following %}
                                    <button class="btn-outline-green collection-card-btn follow-btn" data-user-id="{{ collector.id }}">Following</button>
                                {% else %}
                                    <button class="btn-green collection-card-btn follow-btn" data-user-id="{{ collector.id }}">Follow</button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection-filters">
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Status</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="collection-filter-items dropdown-content opened">
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-auction" >On Auction</label>
                                <input class="collection-filter-checkbox hidden" id="status-auction" type="checkbox" name="status" value="auction" {% if 'auction' in status_filters %}checked{% endif %}>
                                <label class="filter-check-icon" for="status-auction"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-not-started">Not started</label>
                                <input class="collection-filter-checkbox hidden" id="status-not-started" type="checkbox" name="status" value="not-started" {% if 'not-started' in status_filters %}checked{% endif %}>
                                <label class="filter-check-icon" for="status-not-started"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-expired" >Expired</label>
                                <input class="collection-filter-checkbox hidden" id="status-expired" type="checkbox" name="status" value="expired" {% if 'expired' in status_filters %}checked{% endif %}>
                                <label class="filter-check-icon" for="status-expired"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="status-not-on-sale">Not on sale</label>
                                <input class="collection-filter-checkbox hidden" id="status-not-on-sale" type="checkbox" name="status" value="not-on-sale" {% if 'not-on-sale' in status_filters %}checked{% endif %}>
                                <label class="filter-check-icon" for="status-not-on-sale"><i class="fa-solid fa-check check-icon"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Price</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="dropdown-content opened">
                            <div class="collection-filter-items-fd-row">
                                <input type="number" class="filter-input" placeholder="Min" id="min-value" name="min-value" {% if min_value %}value="{{ min_value }}"{% endif %}>
                                <p class="filter-input-text">To</p>
                                <input type="number" class="filter-input" placeholder="Max" id="max-value" name="max-value" {% if max_value %}value="{{ max_value }}"{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="collection-filter dropdown">
                        <div class="collection-filter-title dropdown-btn">
                            <h3>Currency</h3>
                            <i class="fa-solid fa-chevron-down arrow-icon"></i>
                        </div>
                        <div class="collection-filter-items dropdown-content opened">
                            <div class="collection-filter-item">
                                <label class="collection-filter-item-text" for="currency-all">Show all</label>
                                <input class="collection-filter-radio hidden" id="currency-all" type="radio" name="currency" value="all" {% if currency_filter == 'all' %}checked{% endif %}>
                                <label class="filter-check-icon" for="currency-all"><i class="radio-icon"></i></label>
                            </div>
                            {% for currency in currencies %}
                                <div class="collection-filter-item">
                                    <label class="collection-filter-item-text currency-text" for="currency-{{ currency.symbol }}">{{ currency.symbol }}</label>
                                    <input class="collection-filter-radio hidden" id="currency-{{ currency.symbol }}" type="radio" name="currency" value="{{ currency.symbol }}" {% if currency_filter == currency.symbol %}checked{% endif %}>
                                    <label class="filter-check-icon" for="currency-{{ currency.symbol }}"><i class="radio-icon"></i></label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection-cards-pagination">
                <div class="collection-search">
                    <div class="collection-search-input">
                        <input type="text" class="search-input" placeholder="Search collections" id="nft-search"  name="search" value="{{ search_query }}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-xmark remove-search-btn hidden"></i>
                    </div>
                    <div class="collection-select-filter">
                        <select id="sort-by" class="filter-select">
                            <option value="default">Sort By</option>
                            <option value="price-asc" {% if sort_by == 'price-asc' %}selected{% endif %}>Price: Low to High</option>
                            <option value="price-desc" {% if sort_by == 'price-desc' %}selected{% endif %}>Price: High to Low</option>
                            <option value="name-asc" {% if sort_by == 'name-asc' %}selected{% endif %}>Name: A to Z</option>
                            <option value="name-desc" {% if sort_by == 'name-desc' %}selected{% endif %}>Name: Z to A</option>
                        </select>
                    </div>
                    <div class="collection-grid-switches">
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch1" class="hidden" checked>
                            <label for="switch1">
                                <div class="switch1-icon"></div>
                                <div class="switch1-icon"></div>
                            </label>
                        </div>
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch2" class="hidden">
                            <label for="switch2">
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                                <div class="switch2-icon"></div>
                            </label>
                        </div>
                        <div class="grid-switch">
                            <input type="radio" name="switch" id="switch3" class="hidden">
                            <label for="switch3">
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                                <div class="switch3-icon"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="collection-nft-cards">
                    {% include "partials/nft-cards.html" %}
                </div>
                {% if paginator.num_pages > 1 %}
                <div class="collection-pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <div class="icon-box">
                                <i class="fa-solid fa-chevron-left"></i>
                            </div>
                        </a>
                    {% else %}
                        <div class="icon-box disabled">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                    {% endif %}
                    <div class="pagination">
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <strong class="pagination-number">{{ num }}</strong>
                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
                                <a href="?page={{ num }}" class="pagination-number">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <div class="icon-box">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </a>
                    {% else %}
                        <div class="icon-box disabled">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if top_collectors_1 %}
<section class="top-collectors-section">
    <h2 class="section-title">Our Top Collectors</h2>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_1 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="{% url 'collection:user_collections' collector.username %}">
                    <img class="avatar-img" src="{{ collector.avatar.image.url }}">
                </a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_2 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="{% url 'collection:user_collections' collector.username %}">
                    <img class="avatar-img" src="{{ collector.avatar.image.url }}">
                </a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock main %}


{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.follow-btn').forEach(button => {
            button.addEventListener('click', () => {
                const userId = button.getAttribute('data-user-id');
                const followersCountElement = button.closest('.collection-creator-detail').querySelector('.creator-followers-count');
                let url = '{% url "user:follow" 0 %}'.replace('0', userId);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'followed') {
                        button.classList.remove('btn-green');
                        button.classList.add('btn-outline-green');
                        button.textContent = 'Following';
                    } else if (data.status === 'unfollowed') {
                        button.classList.remove('btn-outline-green');
                        button.classList.add('btn-green');
                        button.textContent = 'Follow';
                    }
                    followersCountElement.textContent = data.follower_count;
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function applyFilters() {
            const search = document.getElementById('nft-search').value;
            const sort_by = document.getElementById('sort-by').value;
            const statuses = Array.from(document.querySelectorAll('input[name="status"]:checked')).map(checkbox => checkbox.value);
            const currency = document.querySelector('input[name="currency"]:checked').value;
            const minValue = document.getElementById('min-value').value;
            const maxValue = document.getElementById('max-value').value;
            const params = new URLSearchParams();

            if (search) params.append('search', search);
            if (currency && currency !== 'all') params.append('currency', currency);
            if (minValue) params.append('min', minValue);
            if (maxValue) params.append('max', maxValue);
            if (sort_by && sort_by !== 'default') params.append('sort_by', sort_by);
            statuses.forEach(status => params.append('status', status));

            const url = '?' + params.toString();
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.querySelector('.collection-nft-cards').innerHTML = data.html;

                document.querySelectorAll('.countdown').forEach(countdownElement => {
                    const endTime = new Date(countdownElement.getAttribute('data-date')).getTime();
                    const now = new Date().getTime();
                    const timeDifference = endTime - now;
            
                    if (timeDifference > 0) {
                        const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                        const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            
                        if (countdownElement.classList.contains('days')){
                            countdownString = `${days} days`;
                        }
                        else{
                            countdownString = `${days.toString().padStart(2, '0')}d : ${hours.toString().padStart(2, '0')}h : ${minutes.toString().padStart(2, '0')}m`;
                        }
                        countdownElement.textContent = countdownString;
                        
                    } else {
                        countdownElement.textContent = 'Expired';
                        countdownElement.classList.add('expired');
                    }
                }); 
            })
            .catch(error => console.error('Error:', error));
        }
    
        document.getElementById('sort-by').addEventListener('change', applyFilters);
        const statusCheckboxes = document.querySelectorAll('input[name="status"]');
        statusCheckboxes.forEach(checkbox => checkbox.addEventListener('change', applyFilters));
        const currencyCheckboxes = document.querySelectorAll('input[name="currency"]');
        currencyCheckboxes.forEach(checkbox => checkbox.addEventListener('change', applyFilters));
        document.getElementById('nft-search').addEventListener('keyup', applyFilters);
        document.getElementById('min-value').addEventListener('keyup', applyFilters);
        document.getElementById('max-value').addEventListener('keyup', applyFilters);
    });
</script>  



{% endblock scripts %}