{% extends "layout.html" %}

{% block title %}
    Connect Wallet
{% endblock title %}

{% block main %}

<form method="post">
    {% csrf_token %}
    <section class="connect-wallet-section">
        <div class="container">
            <div class="connect-wallet">
                <div class="connect-wallet-desc">
                    <h2 class="section-title">Connect Wallet</h2>
                    <p class="section-desc">
                        If you don't have a wallet yet, you can select a provider and create one now.
                    </p>
                </div>
                
                {% if form.non_field_errors %}
                    <div class="form-warning">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="connect-wallet-tabs">
                    {% for blockchain in blockchains %}
                        <div class="connect-wallet-tab">
                            <input type="radio" name="blockchain" id="blockchain_{{ blockchain.id }}" value="{{ blockchain.id }}" class="hidden" {% if forloop.first %}checked{% endif %}>
                            <label for="blockchain_{{ blockchain.id }}" class="connect-wallet-tab-text">{{ blockchain.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                
                {% if form.blockchain.errors %}
                    <div class="form-warning">
                        {{ form.blockchain.errors }}
                    </div>
                {% endif %}

                <div class="connect-wallet-list">
                    {% for provider in providers %}
                        <div class="wallet">
                            <div class="wallet-image">
                                <img src="{{ provider.image.url }}">
                            </div>
                            <div class="wallet-desc">
                                <input type="radio" name="provider" id="provider_{{ provider.id }}" value="{{ provider.id }}" class="hidden"> 
                                <label for="provider_{{ provider.id }}" class="wallet-name">{{ provider.name }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if form.provider.errors %}
                    <div class="form-warning">
                        {{ form.provider.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
   
    <section class="popup-section">
        <div class="popup">
            <div class="popup-logo-header">
                <div class="popup-logo">
                    <div class="wallet">
                        <div class="wallet-image">
                            <img src="{% if wallet %}{{ wallet.provider.image.url }}{% endif %}">
                        </div>
                        <div class="wallet-desc">
                            <h3 class="wallet-name">{% if wallet %}{{ wallet.provider.name }}{% endif %}</h3>
                            <p class="wallet-info">{% if wallet %}{{ wallet.blockchain.name }}{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="popup-header">
                    <h3 class="popup-title">Sign this petition?</h3>
                    <p class="popup-desc">Sign a message using your wallet <br> to continue</p>
                </div>
            </div>
            <div class="popup-detail">
                <div class="popup-user-wallet">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ request.user.avatar.image.url }}">
                    </div>
                    <div class="popup-wallet-desc">
                        <h4 class="popup-user-name">{{ request.user.fullname }}</h4>
                        {% if wallet %}
                        <div class="popup-wallet-detail">
                            <p class="popup-wallet-link">{{ wallet.key }}</p>
                            <div class="popup-wallet-connected">Connected</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-control">
                    <div class="form-input-box">
                        <input type="number" name="balance" id="balance" class="form-input" value="0" step="0.01">
                        <label for="balance" class="form-label">Balance</label>
                        <i class="fa-brands fa-ethereum"></i>
                    </div>
                    {% if form.balance.errors %}
                        <p class="form-warning">{{ form.balance.errors.0 }}</p> 
                    {% endif %}
                </div>
                <div class="popup-subheader">
                    <h4>Welcome to NFTs Art!</h4>
                    <p class="popup-desc popup-subheader-desc">
                        <span class="extra-content" data-length="140">
                            Click to sign in and accept the NFTs Art Term of Service:
                            https://example-nftsart.io/terms
                        </span>
                        <span class="show-more">Show more</span>
                    </p>
                </div>
            </div>
            <div class="popup-buttons">
                <button type="button" class="btn-outline-green" id="wallet-cancel-btn">Cancel</button>
                <button type="submit" class="btn-green" id="wallet-connect-btn">Connect</button>
            </div>
        </div>
    </section>
</form>

{% endblock main %}

