{% extends "layout.html" %}

{% block title %}
    Newsletter | FAQ
{% endblock title %}

{% block main %}

<section class="newsletter-section">
    <div class="container">
        <div class="newsletter-faq">
            <div class="newsletter">
                <div class="newsletter-info">
                    <h2 class="section-title">
                        Get the Latest Super <br> Rare Update
                    </h2>
                    <p class="section-desc">
                        Sign up to our regular newsletter for news right. <br>
                        New product release and more
                    </p>
                </div>
                <form action="" class="get-in-touch-form">
                    <div class="get-in-touch-input-box">
                        <i class="fa-regular fa-envelope sms-icon"></i>
                        <input type="email" class="get-in-touch-input" placeholder="Email address">
                    </div>
                    <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                </form>
            </div>
            {% if faqs %}
            <div class="faq-container">
                <h2 class="faq-title">
                    Maybe your question is have been
                    answered, check this out!
                </h2>
                <div class="faq-list">
                {% for faq in faqs %}
                    <div class="faq dropdown">
                        <div class="faq-question dropdown-btn">
                            <h4>{{ faq.question }}</h4>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <p class="faq-answer section-desc dropdown-content">
                            {{ faq.answer }}
                        </p>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% if top_collectors_1 %}
<section class="top-collectors-section">
    <h2 class="section-title">Our Top Collectors</h2>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_1 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="{{ collector.avatar.image.url }}" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="top-collectors-list auto-scroll">
        {% for collector in top_collectors_2 %}
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="{{ collector.avatar.image.url }}" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">{{ collector.fullname }}</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    
                    <p class="eth-value">
                        {% if collector.total_auction_price %}
                            {{ collector.total_auction_price|floatformat:2 }}
                        {% else %}0{% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock main %}

