{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}

<section class="hero-section">
    <div class="hero-info">
        <span class="hero-title">
            Collect Super Rare <span>NFTs</span> Art
            <i class="gear-icon">
                <i class="shadow-icon"></i>
            </i>
        </span>
        <p class="section-desc">
            Design, create, store and trade unique NFTs easily
            <br>with zero fees!
        </p>
        <div class="hero-avatars">
            <img class="hero-avatar" src="/static/img/avatar.jpeg" alt="">
            <img class="hero-avatar" src="/static/img/avatar2.jpeg" alt="">
            <img class="hero-avatar" src="/static/img/avatar3.jpeg" alt="">
            <div class="more-avatar hero-avatar"><span>+50K</span></div>
        </div>
    </div>
    <div class="hero-cards">
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Randy George</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image2.jpeg" alt="">
            </div>
        </div>
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Zain Lubin</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image1.jpeg" alt="">
            </div>
        </div>
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Jakob George</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image3.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="roadmap-section">
    <div class="container">
        <div class="roadmap">
            <div class="roadmap-info">
                <h2 class="section-title">Road-Map</h2>
                <p class="section-desc">
                    This is our roadmap so far, but this is only the begining, we want to
                    build our project <br> around our community, so if you have more ideas we are all ears.
                </p>
            </div>
            <div class="roadmap-phases">
                <div class="roadmap-line">
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-vector"></i>
                </div>
                <div class="phases">
                    <div class="phase">
                        <h3 class="phase-title">Phase 1</h3>
                        <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                    </div>
                    <div class="phase">
                        <h3 class="phase-title">Phase 2</h3>
                        <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                    </div>
                    <div class="phase">
                        <h3 class="phase-title">Phase 3</h3>
                        <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                    </div>
                    <div class="phase">
                        <h3 class="phase-title">Phase 4</h3>
                        <p class="phase-desc">It is a long estabilished fact that a reader will be</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if auction %}
<section class="auction-section">
    <div class="container">
        <div class="auction">
            <div class="auction-image">
                <a href="{% url 'collection:auction_detail' auction.nft.id auction.id %}"><img src="{{ auction.nft.image.url }}"></a>
            </div>
            <div class="auction-desc">
                <div class="auction-info">
                    <div class="auction-badge">
                        <i class="live-icon"></i>
                        <h4 class="auction-text-black">Live Now</h4>
                    </div>
                    <div class="auction-nft-desc">
                        <div class="nft-auction-detail">
                            <p class="nft-auction-category">{{ auction.nft.collections.first.name }}</p>
                            <h2 class="nft-auction-name">{{ auction.nft.name }}</h2>
                        </div>
                        <div class="auction-details">
                            <div class="auction-detail">
                                <p class="auction-text-grey">Current bid</p>
                                <h4 class="auction-text-black eth">{{ auction.price }}</h4>
                                <p class="auction-text-grey usd"></p>
                            </div>
                            <div class="auction-detail">
                                <p class="auction-text-grey">Auction ending in</p>
                                <h4 class="auction-text-black countdown" data-date="{{ auction.end_time|date:'c' }}"></h4>
                                <p class="auction-text-grey">Bids: {{ auction.bids.count }}</p>
                            </div>
                        </div>
                        <div class="nft-auction-creator">
                            <div class="nft-auction-card-section">
                                <p class="auction-text-grey">Creator</p>
                                <div class="auction-nft-card">
                                    <div class="avatar auction-avatar">
                                        <a href="{% url 'collection:user_collections' auction.nft.creator.username %}"><img class="avatar-img" src="{{ auction.nft.creator.avatar.image.url }}"></a>
                                        <div class="avatar-icons">
                                            <div class="verified-icon">
                                                <i class="star-icon"></i>
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="nft-auction-creator-name">{{ auction.nft.creator.fullname }}</p>
                                </div>
                            </div>
                            <div class="nft-auction-card-section">
                                <p class="auction-text-grey">Collection</p>
                                <div class="auction-nft-card">
                                    <div class="avatar auction-avatar">
                                        <a href="{% url 'collection:user_collections' auction.saler.username %}"><img class="avatar-img" src="{{ auction.saler.avatar.image.url }}"></a>
                                        <div class="avatar-icons">
                                            <div class="verified-icon">
                                                <i class="star-icon"></i>
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="nft-auction-creator-name">{{ auction.saler.fullname }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auction-terms">
                    <div class="term-check-icon">
                        <i class="fa-solid fa-check check-icon hidden"></i>
                    </div>
                    <p class="auction-term">I Agree to AllBlocks. Term & Service</p>
                </div>
                <div class="auction-buttons">
                    {% if request.user == auction.saler %}
                        <a href="{% url 'collection:auction_update' auction.id %}?next={{ request.path }}">
                            <button class="auction-button btn-green" disabled>Update</button>
                        </a>         
                        <form action="{% url 'collection:auction_delete' auction.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="auction-button btn-green delete-btn" disabled>Delete</button>
                        </form>
                    {% elif status == 'auction' and request.user not in nft.collectors.all %}
                        <form action="{% url 'collection:auction_purchase' auction.id %}" method="post">
                            {% csrf_token %}
                            <button class="auction-button btn-green" disabled>Purchase now</button>
                        </form>
                        <a href="{% url 'collection:auction_bid' auction.id %}">
                            <button class="auction-button btn-outline-green" disabled>Place a bid</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if top_nfts %}
<section class="popular-collections-section">
    <div class="container">
        <div class="popular-collections">
            <div class="popular-collections-header">
                <h2 class="section-title">Get Popular Collection</h2>
                <a href="{% url 'collection:list' %}" class="see-all">See all</a>
            </div>
            <div class="popular-collection-cards">
            {% for nft in top_nfts %}
                <div class="nft-card">
                    <a href="{% url 'collection:detail' nft.collections.first.id %}">
                        <h4 class="nft-name">{{ nft.name }}</h4>
                    </a>
                    <a href="{% url 'collection:detail' nft.collections.first.id %}">
                        <div class="nft-card-image">
                            <img src="{{ nft.image.url }}" class="nft-image">
                        </div>
                    </a>
                    <div class="nft-detail">
                        {% if nft.get_status == 'auction' %}
                            <div class="nft-status">
                                <p>Highest bid</p>
                                <h4 class="nft-price">{{ nft.auctions.first.price }} {{ nft.auctions.first.currency.symbol }}</h4>
                            </div>
                            <div class="nft-time">
                                <span class="countdown" data-date="{{ nft.auctions.first.end_time|date:'c' }}"></span>
                            </div>
                        {% elif nft.get_status == 'expired' %}
                            <div class="nft-status">
                                <p>Highest bid</p>
                                <h4 class="nft-price">{{ nft.auctions.first.price }} {{ nft.auctions.first.currency.symbol }}</h4>
                            </div>
                            <div class="nft-time">
                                <span class="expired">Expired</span>
                            </div>
                        {% elif nft.get_status == 'not-started' %}
                            <div class="nft-status nft-status-not-sale">
                                <h4>Not Started</h4>
                                <p>Starts at: {{ nft.auctions.first.start_time|date:"M d, Y" }}</p>
                            </div>
                        {% else %}
                            <div class="nft-status nft-status-not-sale">
                                <h4>Not on sale</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="top-collectors-section">
    <h2 class="section-title">Our Top Collectors</h2>
    <div class="top-collectors-list auto-scroll">
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar3.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
    </div>
    <div class="top-collectors-list auto-scroll">
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar4.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar2.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
        <div class="top-collector">
            <p class="top-collector-place"></p>
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="/static/img/avatar3.jpeg" alt=""></a>
                <div class="avatar-icons">
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
            </div>
            <div class="top-collector-info">
                <h4 class="top-collector-name">Lincoln George</h4>
                <div class="top-collector-eth">
                    <i class="fa-brands fa-ethereum"></i>
                    <p class="eth-value">2,798</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="newsletter-section">
    <div class="container">
        <div class="newsletter-faq">
            <div class="newsletter">
                <div class="newsletter-info">
                    <h2 class="section-title">
                        Get the Latest Super <br> Rare Update
                    </h2>
                    <p class="section-desc">
                        Sign up to our regular newsletter for news right. <br>
                        New product release and more
                    </p>
                </div>
                <form action="" class="get-in-touch-form">
                    <div class="get-in-touch-input-box">
                        <i class="fa-regular fa-envelope sms-icon"></i>
                        <input type="email" class="get-in-touch-input" placeholder="Email address">
                    </div>
                    <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                </form>
            </div>
            {% if faqs %}
            <div class="faq-container">
                <h2 class="faq-title">
                    Maybe your question is have been
                    answered, check this out!
                </h2>
                <div class="faq-list">
                {% for faq in faqs %}
                    <div class="faq dropdown">
                        <div class="faq-question dropdown-btn">
                            <h4>{{ faq.question }}</h4>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <p class="faq-answer section-desc dropdown-content">
                            {{ faq.answer }}
                        </p>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="join-section">
    <div class="join-info">
        <h2 class="section-title">Let's Join The Team</h2>
        <p class="section-desc">Let us guide you!</p>
    </div>
    <div class="join-buttons">
        <button class="btn-green join-button">Try Now</button>
        <button class="btn-outline-green join-button">
            <i class="fa-brands fa-discord"></i>
            Join Discord
        </button>
    </div>
</section>

<section class="partners-section">
    <div class="partners-list auto-scroll">
        <div class="partner">
            <img src="/static/img/binance-exchange-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/exodus-wallet-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/coinbase-inc-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/metamask-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/opensea-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/binance-exchange-seeklogo.com.svg" alt="">
        </div>
    </div>
    <div class="partners-list auto-scroll">
        <div class="partner">
            <img src="/static/img/binance-exchange-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/metamask-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/exodus-wallet-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/opensea-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/coinbase-inc-seeklogo.com.svg" alt="">
        </div>
        <div class="partner">
            <img src="/static/img/metamask-seeklogo.com.svg" alt="">
        </div>
    </div>
</section>

{% endblock main %}
