<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            NFTs Art
        {% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% static '/img/icons/gear.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="{% url 'home' %}" class="nav-brand">
                    <h3>NFTs Art</h3>
                </a>
                <ul class="nav-links">
                    <li class="nav-item"><a href="{% url 'collection:list' %}" class="nav-link">Collection</a></li>
                    <li class="nav-item"><a href="{% url 'home:roadmap' %}" class="nav-link">Road Map</a></li>
                    <li class="nav-item"><a href="{% url 'home:ourclans' %}" class="nav-link">Our Clans</a></li>
                    <li class="nav-item"><a href="{% url 'home:faq' %}" class="nav-link">FAQ</a></li>
                </ul>
                <div class="nav-buttons">
                    {% if request.user.is_authenticated %}
                        <a class="nav-button" href="{% url 'collection:nft_create' %}"><button class="btn-green">Create</button></a>
                        <div class="avatar nav-button">
                            <a href="{% url 'user:update_profile' %}">
                                <img class="avatar-img" src="{{ user.avatar.image.url }}">
                            </a>
                            <div class="avatar-icons">
                                <div class="verified-icon">
                                    <i class="star-icon"></i>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a class="nav-button" href="{% url 'user:login' %}?next={{ request.path }}">
                            <button class="btn-green">Login</button>
                        </a>
                    {% endif %}

                    <i id="nav-menu-icon">
                        <hr>
                        <hr>
                    </i>
                </div>
            </div>
            <div class="nav-menu" id="nav-menu">
                <div class="nav-menu-buttons">
                    {% if request.user.is_authenticated %}
                        <div class="avatar">
                            <a href="{% url 'user:update_profile' %}">
                                <img class="avatar-img" src="{{ user.avatar.image.url }}">
                            </a>
                            <div class="avatar-icons">
                                <div class="verified-icon">
                                    <i class="star-icon"></i>
                                    <i class="fa-solid fa-check check-icon"></i>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'collection:nft_create' %}"><button class="btn-green">Create</button></a>
                    {% else %}
                        <a href="{% url 'user:login' %}?next={{ request.path }}">
                            <button class="btn-green">Login</button>
                        </a>
                    {% endif %}
                </div>
                <ul class="nav-menu-links">
                    <li class="nav-item"><a href="{% url 'collection:list' %}" class="nav-link">Collection</a></li>
                    <li class="nav-item"><a href="{% url 'home:roadmap' %}" class="nav-link">Road Map</a></li>
                    <li class="nav-item"><a href="{% url 'home:ourclans' %}" class="nav-link">Our Clans</a></li>
                    <li class="nav-item"><a href="{% url 'home:faq' %}" class="nav-link">FAQ</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="messages-section">
            <div class="container">
                <div class="messages" id="messages">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>

        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer-logo-desc">
                    <h3 class="footer-logo">NFTs Art</h3>
                    <h4 class="footer-desc">Create sell, and collect <br> NFT digital art</h4>
                </div>
                <div class="footer-links">
                    <ul class="footer-menu">
                        <li><a href="{% url 'collection:list' %}" class="footer-link">Collection</a></li>
                        <li><a href="{% url 'home:roadmap' %}" class="footer-link">Road Map</a></li>
                        <li><a href="{% url 'home:ourclans' %}" class="footer-link">Our Clans</a></li>
                        <li><a href="{% url 'home:faq' %}" class="footer-link">FAQ</a></li>
                    </ul>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li>
                            <div id="theme-toggle">
                                <i class="fa-solid fa-moon"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="footer-rights">
                        <p>2024. all right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static '/js/main.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>