{% extends "layout.html" %}

{% block title %}
    {% if operation == 'update' %}
        Update Profile
    {% else %}
        Login | Register
    {% endif %}
{% endblock title %}

{% block main %}

<section class="form-section">
    <div class="container">
        <div class="form-container">
            <div class="register-form-title">
                <h2 class="section-title">
                    {% if operation == 'update' %}
                        Update Profile
                    {% else %}
                        Register
                    {% endif %}
                </h2>
            </div>
            <form class="form" id="register-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-previews">
                    <div class="form-preview">
                        <h4 class="form-subtitle">Preview</h4>
                        <div class="avatar-preview" id="avatar-preview">
                            <div class="avatar">
                                <img class="avatar-img" src="">
                            </div>
                            <h3 class="register-fullname" id="previewFullname"></h3>
                        </div>
                        
                        <div class="form-control">
                            <input type="hidden" id="avatar-input" name="avatar" {% if register_form.avatar.value %}value="{{ register_form.avatar.value }}"{% endif %}>
                            {% if register_form.avatar.errors %}
                                <div class="form-warning">{{ register_form.avatar.errors.0 }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-preview">
                        <h4 class="form-subtitle">Choose avatar</h4>
                        <div class="new-avatars" id="avatar-selection">
                            {% for avatar in register_form.avatar.field.queryset %}
                                <div class="avatar">
                                    <img class="avatar-img" src="{{ avatar.image.url }}" data-avatar-id="{{ avatar.id }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>                        
                <div class="form-inputs-container">
                    <div class="form-inputs">
                        <input type="text" style="display:none" autocomplete="username">
                        <input type="password" style="display:none" autocomplete="new-password">
                        <div class="form-control">
                            <div class="form-input-box">
                                <input type="text" id="fullNameInput" name="fullname" class="form-input" {% if register_form.fullname.value %}value="{{ register_form.fullname.value }}"{% endif %} required>
                                <label for="fullname" class="form-label">Full name</label>
                            </div>
                            {% if register_form.fullname.errors %}
                                <div class="form-warning">{{ register_form.fullname.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="form-control">
                            <div class="form-input-box">
                                <input type="text" id="register-username" name="username" class="form-input" autocomplete="off" {% if register_form.username.value %}value="{{ register_form.username.value }}"{% endif %} required>
                                <label for="username" class="form-label">Username</label>
                            </div>
                            {% if register_form.username.errors %}
                                <div class="form-warning">{{ register_form.username.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="form-control">
                            <div class="form-input-box">
                                <input type="email" id="email" name="email" class="form-input" {% if register_form.email.value %}value="{{ register_form.email.value }}"{% endif %} required>
                                <label for="email" class="form-label">Email</label>
                            </div>
                            {% if register_form.email.errors %}
                                <div class="form-warning">{{ register_form.email.errors.0 }}</div>
                            {% endif %}
                        </div>
                        {% if operation != 'update' %}
                        <div class="form-control">
                            <div class="form-input-box">
                                <input type="password" id="password1" name="password1" class="form-input" autocomplete="off" required >
                                <label for="password1" class="form-label">Password</label>
                                <i class="fa-regular fa-eye-slash password-show-btn"></i>
                            </div>
                            {% if register_form.password1.errors %}
                                <div class="form-warning">{{ register_form.password1.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="form-control">
                            <div class="form-input-box">
                                <input type="password" id="password2" name="password2" class="form-input" required>
                                <label for="password2" class="form-label">Confirm Password</label>
                                <i class="fa-regular fa-eye-slash password-show-btn"></i>
                            </div>
                            {% if register_form.password2.errors %}
                                <div class="form-warning">{{ register_form.password2.errors.0 }}</div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if register_form.non_field_errors %}
                            <p class="form-warning">{{ register_form.non_field_errors.0 }}</p>
                        {% endif %}

                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    </div>
                    <div class="form-buttons">
                        <button type="submit" name="register" class="form-button btn-green">
                            {% if operation == 'update' %}
                                Update Profile
                            {% else %}
                                Register
                            {% endif %}
                        </button>
                        {% if operation == 'update' %}
                            <button type="button" class="btn-outline-green" id="update-password-button">Update Password?</button>
                            <a href="{% url 'user:logout' %}">
                                <button type="button" class="btn-red logout-btn">Logout</button>
                            </a>
                        {% endif %} 
                    </div>
                    {% if operation != 'update' %}
                    <div class="form-checkboxes">
                        <div class="form-info">
                            <label class="form-label">Have an account already?</label>
                            <h5 id="login-btn">Log in</h5>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</section>

{% if operation != 'update' %}
<section class="popup-section" id="login-popup">
    <div class="popup">
        <h2 class="popup-title">Login</h2>
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" style="display:none" autocomplete="username">
            <input type="password" style="display:none" autocomplete="new-password">
            <div class="form-control">
                <div class="form-input-box">
                    <input type="text" name="username" id="username" class="form-input" autocomplete="off" required>
                    <label for="username" class="form-label">Username</label>
                    <i class="fa-solid fa-user"></i>
                </div>
                {% if login_form.username.errors %}
                    <p class="form-warning">{{ login_form.username.errors.0 }}</p>
                {% endif %}
            </div>
            <div class="form-control">
                <div class="form-input-box">
                    <input type="password" name="password" id="password" class="form-input" autocomplete="off" required>
                    <label for="password" class="form-label">Password</label>
                    <i class="fa-regular fa-eye-slash password-show-btn"></i>
                </div>
                {% if login_form.password.errors %}
                    <p class="form-warning">{{ login_form.password.errors.0 }}</p>
                {% endif %}
            </div>
            {% if login_form.non_field_errors %}
                <p class="form-warning">{{ login_form.non_field_errors.0 }}</p>
            {% endif %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button type="submit" name="login" class="btn-green">Login</button>
            <button type="button" class="btn-outline-green" id="forgot-password-button">Forgot Password?</button>
            
            <div class="register-link">
                <p>Don't have an account? <span id="register-btn">Register</span></p>
            </div>
        </form>
    </div>
</section>
{% endif %}

<section class="popup-section" id="forgot-password-popup">
    <div class="popup">
        <h2 class="popup-title">Forgot Password</h2>
        <form method="post" id="forgot-password-form" class="popup-form">
            {% csrf_token %}
            <div class="form-control">
                <label for="email" class="form-label">Enter your email address:</label>
                <input type="email" name="email" id="forgot-password-email" class="form-input" placeholder="Type here..." required>
            </div>
            <button type="submit" class="btn-green">Send Verification Code</button>
        </form>
    </div>
</section>

<section class="popup-section" id="verify-code-popup">
    <div class="popup">
        <h2 class="popup-title">Verify Code</h2>
        <form method="post" id="verify-code-form" class="popup-form">
            {% csrf_token %}
            <div class="form-control">
                <label for="token" class="form-label">Verification Code:</label>
                <input type="text" name="token" id="token" class="form-input" placeholder="Type here..." required>
            </div>
            <button type="submit" class="btn-green">Verify Code</button>
        </form>
    </div>
</section>

<section class="popup-section" id="reset-password-popup">
    <div class="popup">
        <h2 class="popup-title">Reset Password</h2>
        <form method="post" id="reset-password-form" class="popup-form {% if operation == 'update' %}update-password-form{% endif %}">
            {% csrf_token %}

            <div class="form-control" id="current-password-input">
                <div class="form-input-box">
                    <input type="password" name="old-password" id="old-password" class="form-input" {% if operation == 'update' %}required{% endif %}>
                    <label for="old-password" class="form-label">Current Password</label>
                    <i class="fa-regular fa-eye-slash password-show-btn"></i>
                </div>
            </div>
            <div class="form-control">
                <div class="form-input-box">
                    <input type="password" name="new-password1" id="new-password1" class="form-input" required>
                    <label for="password" class="form-label">New Password</label>
                    <i class="fa-regular fa-eye-slash password-show-btn"></i>
                </div>
            </div>
            <div class="form-control">
                <div class="form-input-box">
                    <input type="password" name="new-password2" id="new-password2" class="form-input" required>
                    <label for="password" class="form-label">Confirm New Password</label>
                    <i class="fa-regular fa-eye-slash password-show-btn"></i>
                </div>
            </div>

            <button type="submit" class="btn-green">Reset Password</button>
        </form>
    </div>
</section>

{% endblock main %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const forgotPasswordBtn =  document.getElementById('forgot-password-button');
        if(forgotPasswordBtn) {
            forgotPasswordBtn.addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('forgot-password-popup').classList.add('active');
            });
        }

        const updatePasswordBtn =  document.getElementById('update-password-button');
        if(updatePasswordBtn) {
            updatePasswordBtn.addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('reset-password-popup').classList.add('active');
            });
        }

        document.getElementById('forgot-password-form').addEventListener('submit', function(e) {
            e.preventDefault();

            const submitBtn = document.querySelector('#forgot-password-form button[type="submit"]');
            submitBtn.textContent = 'Sending...';
            submitBtn.disabled = true;

            fetch("{% url 'user:forgot_password' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(new FormData(this)).toString(),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('forgot-password-popup').classList.remove('active');
                    document.getElementById('verify-code-popup').classList.add('active');
                    addMessage(data.message, 'success');
                } else {
                    addMessage(data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                addMessage('Error sending verification code. Please try again.', 'error');
            })
            .finally(() => {
                submitBtn.textContent = 'Send Verification Code';
                submitBtn.disabled = false;
            });
        });
        
        document.getElementById('verify-code-form').addEventListener('submit', function(e) {
            e.preventDefault();
            fetch("{% url 'user:verify_code' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(new FormData(this)).toString(),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('verify-code-popup').classList.remove('active');
                    document.getElementById('reset-password-popup').classList.add('active');
                    document.getElementById('current-password-input').classList.add('hidden');
                    addMessage(data.message, 'success');
                } else {
                    addMessage(data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                addMessage('Invalid verification code. Please try again.', 'error');
            });
        });
        
        document.getElementById('reset-password-form').addEventListener('submit', function(e) {
            e.preventDefault();
            url = "{% url 'user:reset_password' %}";

            if (this.classList.contains('update-password-form')){
                url = "{% url 'user:update_password' %}"
            }
            
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(new FormData(this)).toString(),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('reset-password-popup').classList.remove('active');
                    addMessage(data.message, 'success');
                } else {
                    addMessage(data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                addMessage('Error resetting password. Please try again.', 'error');
            });
        }); 

        function addMessage(text, type = 'info') {
            const messagesContainer = document.getElementById('messages');
            
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('alert', `alert-${type}`);
            messageDiv.textContent = text;
            messagesContainer.appendChild(messageDiv);

            setTimeout(() => {
                messageDiv.classList.add('deactive');
            }, 3000); 
        
            setTimeout(() => {
                messageDiv.remove();
            }, 3500);
        }
    });    
</script>

{% endblock scripts %}