{% extends "layout.html" %}

{% block title %}
    {% if operation == 'update' %}
        Update Auction
    {% else %}
        List for Sale
    {% endif %}
{% endblock title %}

{% block main %}

<section class="form-section">
    <div class="container">
        <div class="form-container">
            <h2 class="section-title">
                {% if operation == 'update' %}
                    Update Auction
                {% else %}
                    List Item for Sale
                {% endif %}
            </h2>
            <form class="form" id="nft-sell-form" method="post">
                {% csrf_token %}
                <div class="form-preview">
                    <h4 class="form-subtitle">Preview</h4>
                    <h3 class="nft-sell-name">{{ nft.name }}</h3>
                    <div class="nft-form-image">
                        <img src="{{ nft.image.url }}" alt="NFT Image">
                    </div>
                    <div class="nft-sell-price">
                        <p>Price</p>
                        <h4 id="price-display">0</h4>
                    </div>
                </div>
                <div class="form-inputs-container">
                    <div class="form-inputs">
                        <div class="form-control">
                            <label for="price" class="form-label">Price</label>
                            <div class="nft-sell-price-inputs">
                                <select id="currency" name="currency" class="form-select">
                                {% for currency in currencies %}
                                    <option class="form-option" value="{{ currency.id }}"
                                        {% if auction and auction.currency.id == currency.id %}selected{% endif %}>
                                        {{ currency.symbol }}
                                    </option>
                                {% endfor %}
                                </select>
                                {% if form.currency.errors %}
                                    <div class="form-warning">{{ form.currency.errors }}</div>
                                {% endif %}
                                <input type="number" id="price-input" name="price" class="form-input" placeholder="Type here..." step="0.01"
                                    {% if auction %}value="{{ auction.price }}"{% endif %}>
                                {% if form.price.errors %}
                                    <div class="form-warning">{{ form.price.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="schedule-time" class="form-label">Schedule Listing</label>
                            <select id="schedule-time" name="schedule-time" class="form-select">
                                <option class="form-option" value="3-month">3 Month</option>
                                <option class="form-option" value="6-month" selected>6 Month</option>
                                <option class="form-option" value="1-year">1 Year</option>
                                <option class="form-option" value="2-year">2 Year</option>
                                <option class="form-option" value="5-year">5 Year</option>
                            </select>
                            {% if form.schedule_time.errors %}
                                <div class="form-warning">{{ form.schedule_time.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-control-dates">
                            <div class="form-control">
                                <label for="start-time" class="form-label">Starting</label>
                                <input type="date" name="start_time" id="start-time" class="form-input"
                                    {% if auction %}value="{{ auction.start_time|date:'Y-m-d' }}"{% endif %} required>
                                {% if form.start_time.errors %}
                                    <div class="form-warning">{{ form.start_time.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-control">
                                <label for="end-time" class="form-label">Ending</label>
                                <input type="date" name="end_time" id="end-time" class="form-input"
                                    {% if auction %}value="{{ auction.end_time|date:'Y-m-d' }}"{% endif %} required>
                                {% if form.end_time.errors %}
                                    <div class="form-warning">{{ form.end_time.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-checkboxes">
                        <div class="form-info">
                            <label class="form-label">
                                Service Fee
                                <i class="fa-solid fa-circle-info"></i>
                            </label>
                            <h5>2.5%</h5>
                        </div>
                        <div class="form-checkbox">
                            <div class="form-checkbox-label">
                                <label for="reserve-for-buyer" class="form-label">Reserve for specific buyer</label>
                            </div>
                            <input type="checkbox" id="reserve-for-buyer" class="form-checkbox-input hidden">
                            <label for="reserve-for-buyer" class="checkbox-icon"></label>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="form-button btn-green" id="complete-listing-btn">
                            {% if operation == 'update' %}
                                Update Auction
                            {% else %}
                                Complete Listing
                            {% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% if operation == 'sell' %}
<section class="popup-section active" id="listing-popup" >
    <div class="popup">
        <div class="popup-header">
            <h3 class="popup-title">Complete Your Listing</h3>
            <p class="popup-desc">Sign a message using your wallet <br> to continue</p>
        </div>
        <div class="popup-card">
            <div class="popup-card-image">
                <img src="{{ nft.image.url }}" class="nft-image">
            </div>
            <div class="popup-card-desc">
                <h4 class="nft-name">{{ nft.name }}</h4>
                <div class="nft-detail">
                    <div class="nft-highest-bid">
                        <p>Highest bid</p>
                        <h4 id="popup-price">{{ auction.price}}</h4>
                    </div>
                    <div class="nft-time">
                        <span id="popup-end-time" class="countdown" data-date="{{ auction.end_time|date:'c' }}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-buttons">
            <a href="{% url 'wallet:connect' %}?next={{ request.path }}">
                <button class="btn-green" id="sign-btn">Sign</button>
            </a>
        </div>
    </div>
</section>
{% endif %}

{% if operation == 'sell' and wallet %}
<section class="popup-section active" id="completed-popup">
    <div class="popup">
        <div class="popup-header">
            <h3 class="popup-title">Your NFT is Listed!</h3>
            <p class="popup-desc">Awesome! You've listed <span>{{ nft.name }}</span></p>
        </div>
        <div class="popup-card">
            <div class="popup-card-image">
                <img src="{{ nft.image.url }}" class="nft-image">
            </div>
            <div class="popup-card-desc">
                <h4 class="nft-name">{{ nft.name }}</h4>
                <div class="nft-detail">
                    <div class="nft-highest-bid">
                        <p>Highest bid</p>
                        <h4 id="popup-price">{{ auction.price}} {{ auction.currency.symbol }}</h4>
                    </div>
                    <div class="nft-time">
                        <span id="popup-end-time" class="countdown" data-date="{{ auction.end_time|date:'c'}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-share">
            <div class="popup-nft-link">
                <p class="popup-wallet-link" data-key="{{ wallet.key }}">{{ wallet.key }}</p>
                <i class="fa-regular fa-copy wallet-copy-btn"></i>
            </div>
            <div class="popup-share-via">
                <hr>
                <p>Or Share Via</p>
                <hr>
            </div>
            <div class="popup-share-icons">
                <i class="fa-brands fa-discord"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <a href="{% url 'collection:auction_detail' nft.id auction.id %}" class="popup-close-btn">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
</section>
{% endif %}

{% endblock main %}

