{% extends "layout.html" %}

{% block title %}
    NFT Detail
{% endblock title %}

{% block main %}

<section class="auction-detail-section">
    <div class="container">
        <div class="auction">
            <div class="auction-image">
                <img src="{{ nft.image.url }}">
                <div class="auction-detail-desc">
                    <span class="extra-content" data-length="300">{{ nft.description }}</span>
                    <span class="show-more">Show more</span>
                </div>
                <div class="auction-actions">
                    <div class="auction-action">
                        {% if liked %}
                        <i class="fa-solid fa-heart like-btn"></i>
                        {% else %}
                        <i class="fa-regular fa-heart like-btn"></i>
                        {% endif %}
                        <p class="auction-action-text like-count">{{ nft.likes.count }}</p>
                    </div>
                    <div class="auction-action auction-share-action">
                        <i class="fa-solid fa-arrow-up-from-bracket auction-share-btn"></i>
                        <p class="auction-action-text">Share</p>
                    </div>
                    <div class="auction-action">
                        <i class="fa-solid fa-arrows-rotate" onclick="location.reload();"></i>
                        <p class="auction-action-text">Refresh</p>
                    </div>
                </div>
            </div>
            <div class="auction-desc">
                <div class="auction-info">
                    {% if status == 'auction' %}
                        <div class="auction-badge">
                            <i class="live-icon"></i>
                            <h4 class="auction-text-black">Live Now</h4>
                        </div>
                    {% endif %}
                    <div class="auction-nft-desc">
                        <div class="nft-auction-detail">
                            {% if collection %}
                                <p class="nft-auction-category">{{ collection.name }}</p>
                            {% endif %}
                            <h2 class="nft-auction-name">{{ nft.name }}</h2>
                        </div>
                        {% if status != 'not-on-sale' %}
                        <div class="auction-details">
                            {% if status == 'auction' or status == 'expired' %}
                            <div class="auction-detail">
                                <p class="auction-text-grey">Current bid</p>
                                <h4 class="auction-text-black eth">{{ auction.price }} {{ auction.currency.symbol }}</h4>
                                <p class="auction-text-grey usd"></p>
                            </div>
                            {% endif %}
                            {% if status == 'auction' %}
                            <div class="auction-detail">
                                <p class="auction-text-grey">Auction ending in</p>
                                <h4 class="auction-text-black countdown" data-date="{{ auction.end_time|date:'c' }}"></h4>
                                <p class="auction-text-grey">Bids: {{ bids.count}} </p>
                            </div>
                            {% elif status == 'expired' %}
                            <div class="auction-detail">
                                <p class="auction-text-grey">Auction ended</p>
                                <h4 class="auction-text-black">Expired</h4>
                                <p class="auction-text-grey">Bids: {{ bids.count}} </p>
                            </div>
                            {% elif status == 'not-started' %}
                            <div class="auction-detail">
                                <p class="auction-text-grey">Auction starting in</p>
                                <h4 class="auction-text-black">{{ auction.start_time|date:"M d, Y" }}</h4>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="nft-auction-creator">
                            <div class="nft-auction-card-section">
                                <p class="auction-text-grey">Creator</p>
                                <div class="auction-nft-card">
                                    <div class="avatar auction-avatar">
                                        <a href="{% url 'collection:user_collections' nft.creator.username %}"><img class="avatar-img" src="{{ nft.creator.avatar.image.url }}"></a>
                                        <div class="avatar-icons">
                                            <div class="verified-icon">
                                                <i class="star-icon"></i>
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="nft-auction-creator-name">{{ nft.creator.fullname }}</p>
                                </div>
                            </div>
                            {% if status != 'not-on-sale' %}
                            <div class="nft-auction-card-section">
                                <p class="auction-text-grey">Collection</p> 
                                <div class="auction-nft-card">
                                    <div class="avatar auction-avatar">
                                        <a href="{% url 'collection:user_collections' auction.saler.username %}"><img class="avatar-img" src="{{ auction.saler.avatar.image.url }}"></a>
                                        <div class="avatar-icons">
                                            <div class="verified-icon">
                                                <i class="star-icon"></i>
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="nft-auction-creator-name">{{ auction.saler.fullname }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if request.user.is_authenticated %}
                <div class="auction-terms">
                    <div class="term-check-icon">
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                    <p class="auction-term">I Agree to AllBlocks. Term & Service</p>
                </div>
                <div class="auction-buttons">
                    {% if status != 'not-on-sale' %}
                        {% if request.user == auction.saler %}
                            <a href="{% url 'collection:auction_update' auction.id %}?next={{ request.path }}">
                                <button class="auction-button btn-green">Update</button>
                            </a>         
                            <form action="{% url 'collection:auction_delete' auction.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="auction-button btn-green delete-btn">Delete</button>
                            </form>
                        {% elif status == 'auction' and request.user not in nft.collectors.all %}
                            <form action="{% url 'collection:auction_purchase' auction.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="auction-button btn-green">Purchase now</button>
                            </form>
                            <a href="{% url 'collection:auction_bid' auction.id %}">
                                <button class="auction-button btn-outline-green">Place a bid</button>
                            </a>
                        {% endif %}
                    {% elif request.user == nft.creator %}
                        <a href="{% url 'collection:auction_create' nft.id %}">
                            <button class="auction-button btn-green">List item for Sale</button>
                        </a>
                    {% endif %}
                </div>
                {% endif %}

                {% if status != 'not-on-sale' %}
                <div class="auction-charts">
                    {% if bids.count > 1 %}
                    <div class="auction-chart dropdown">
                        <div class="chart-title dropdown-btn">
                            <h3>Price History</h3>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <div class="price-history-chart-container dropdown-content opened">
                            <div class="chart-subtitle">
                                <h4>All Time Avg. Price</h4>
                                <select class="chart-select">
                                    <option value="1">7 days</option>
                                    <option value="2">1 month</option>
                                    <option value="3">1 year</option>
                                    <option value="4" selected>All times</option>
                                </select>
                            </div>
                            <div class="price-history-chart">
                                <div class="prices">
                                    <p class="chart-text">2.5</p>
                                    <p class="chart-text">2</p>
                                    <p class="chart-text">1.5</p>
                                    <p class="chart-text">1</p>
                                    <p class="chart-text">0.5</p>
                                    <p class="chart-text">0</p>
                                </div>
                                <div class="dates">
                                    <p class="chart-text">15/9</p>
                                    <p class="chart-text">16/9</p>
                                    <p class="chart-text">17/9</p>
                                    <p class="chart-text">18/9</p>
                                    <p class="chart-text">19/9</p>
                                    <p class="chart-text">20/9</p>
                                    <p class="chart-text">21/9</p>
                                </div>
                                <div class="lines">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                                <div class="chart">
                                    <svg class="chart-line1" xmlns="http://www.w3.org/2000/svg" width="650"
                                        height="200" viewBox="0 0 650 200" fill="none">
                                        <path d="" fill="url(#paint0_linear_91_2002)" fill-opacity="0.32" />
                                        <defs>
                                            <linearGradient id="paint0_linear_91_2002" x1="328.351" y1="-10"
                                                x2="328.478" y2="186" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#DCF06B" />
                                                <stop offset="1" stop-color="#DCF06B" stop-opacity="0" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <svg class="chart-line2" xmlns="http://www.w3.org/2000/svg" width="650"
                                        height="200" viewBox="0 0 650 200" fill="none">
                                        <path d="" stroke="#171717" stroke-width="1.5" stroke-linecap="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="auction-chart dropdown">
                        <div class="chart-title dropdown-btn">
                            <h3>Listings</h3>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <div class="dropdown-content opened auction-table">
                            <table class="sales-nfts-table">
                                <thead>
                                    <tr>
                                        <th>Unit Price</th>
                                        <th>USD</th>
                                        <th>Quantity</th>
                                        <th>Expiration</th>
                                        <th>From</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for auction in nft.auctions.all %}
                                    <tr>
                                        <td class="eth"> 
                                            <i class="fa-brands fa-ethereum"></i>
                                            {{ auction.price }}
                                        </td>
                                        <td class="usd"></td>
                                        <td>{{ auction.quantity }}</td>
                                        <td class="countdown days" data-date="{{ auction.end_time|date:'c' }}"></td>
                                        <td>{{ auction.saler }}</td>
                                        <td>
                                        {% if request.user.is_authenticated and request.user not in nft.collectors.all %}
                                            <form action="{% url 'collection:auction_purchase' auction.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn-outline-green">Buy</button>
                                            </form>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="spacing">
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if bids.exists %}
                    <div class="auction-chart dropdown">
                        <div class="chart-title dropdown-btn">
                            <h3>Offers</h3>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <div class="dropdown-content opened auction-table">
                            <table class="sales-nfts-table ">
                                <thead>
                                    <tr>
                                        <th>Unit Price</th>
                                        <th>USD</th>
                                        <th>Quantity</th>
                                        <th>Floor Difference</th>
                                        <th>Expiration</th>
                                        <th>From</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bid in bids.all %}
                                        <tr>
                                            <td class="eth">
                                                <i class="fa-brands fa-ethereum"></i>
                                                {{ bid.amount }}
                                            </td>
                                            <td class="usd"></td>
                                            <td>{{ bid.quantity }}</td>
                                            <td class="difference" data-price="{{ auction.price }}" data-bid-amount="{{ bid.amount }}" data-quantity="{{ bid.quantity }}"></td>
                                            <td class="countdown days" data-date="{{ bid.expiration|date:'c' }}"></td>
                                            <td>{{ bid.bidder }}</td>
                                        </tr>
                                        <tr class="spacing">
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if collection_nfts %}
<section class="popular-collections-section">
    <div class="container">
        <div class="popular-collections">
            <div class="popular-collections-header">
                <h2 class="section-title">More From This Collection</h2>
                <a href="{% url 'collection:detail' collection.id %}" class="see-all">See all</a>
            </div>
            <div class="popular-collection-cards">
            {% for collection_nft in collection_nfts %}
                <div class="nft-card">
                    <a href="{% url 'collection:collection_nft_detail' collection.id collection_nft.id %}">
                        <h4 class="nft-name">{{ collection_nft.name }}</h4>
                    </a>
                    <a href="{% url 'collection:collection_nft_detail' collection.id collection_nft.id %}">
                        <div class="nft-card-image">
                            <img src="{{ collection_nft.image.url }}" class="nft-image">
                        </div>
                    </a>
                    <div class="nft-detail">
                        {% if collection_nft.get_status == 'auction' %}
                            <div class="nft-status">
                                <p>Highest bid</p>
                                <h4 class="nft-price">{{ collection_nft.auctions.first.price }} {{ collection_nft.auctions.first.currency.symbol }}</h4>
                            </div>
                            <div class="nft-time">
                                <span class="countdown" data-date="{{ collection_nft.auctions.first.end_time|date:'c' }}"></span>
                            </div>
                        {% elif collection_nft.get_status == 'expired' %}
                            <div class="nft-status">
                                <p>Highest bid</p>
                                <h4 class="nft-price">{{ collection_nft.auctions.first.price }} {{ collection_nft.auctions.first.currency.symbol }}</h4>
                            </div>
                            <div class="nft-time">
                                <span class="expired">Expired</span>
                            </div>
                        {% elif collection_nft.get_status == 'not-started' %}
                            <div class="nft-status nft-status-not-sale">
                                <h4>Not Started</h4>
                                <p>Starts at: {{ collection_nft.auctions.first.start_time|date:"M d, Y" }}</p>
                            </div>
                        {% else %}
                            <div class="nft-status nft-status-not-sale">
                                <h4>Not on sale</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock main %}


{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var likeButtons = document.querySelectorAll('.like-btn');

        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', () =>  {
                const likeCountSpan = likeButton.nextElementSibling; 
                let currentCount = parseInt(likeCountSpan.textContent, 10);
                const url = '{% url "collection:nft_like" nft.id %}';

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    likeButton.classList.toggle('fa-solid');
                    likeButton.classList.toggle('fa-regular');
                    if (data.status == 'liked') {
                        likeCountSpan.textContent = currentCount + 1;
                    } else {
                        likeCountSpan.textContent = currentCount - 1;
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (document.querySelector('.price-history-chart')) {
            const originalBidAmounts = {{ bid_amounts|safe }};
            const originalBidTimestamps = {{ bid_timestamps|safe }};
            const svgNamespace = "http://www.w3.org/2000/svg";
            const chartLine1 = document.querySelector('.chart-line1');
            const chartLine2 = document.querySelector('.chart-line2');
            const chartWidth = 650;
            const chartHeight = 200;
    
            const updateChart = (filteredBidAmounts, filteredBidTimestamps) => {
                const maxBidAmount = Math.max(...filteredBidAmounts);
                const minBidAmount = Math.min(...filteredBidAmounts);
    
                let pathData1 = 'M';
                let pathData2 = 'M';
    
                filteredBidAmounts.forEach((amount, index) => {
                    const x = (index / (filteredBidAmounts.length - 1)) * chartWidth;
                    const y = chartHeight - ((amount - minBidAmount) / (maxBidAmount - minBidAmount)) * chartHeight;
    
                    if (index === 0) {
                        pathData1 += `${x} ${y}`;
                        pathData2 += `${x} ${y}`;
                    } else {
                        pathData1 += ` L${x} ${y}`;
                        pathData2 += ` L${x} ${y}`;
                    }
                });
    
                chartLine1.querySelector('path').setAttribute('d', pathData1);
                chartLine2.querySelector('path').setAttribute('d', pathData2);
    
                const priceContainer = document.querySelector('.prices');
                priceContainer.innerHTML = '';
    
                const priceSteps = 5;
                for (let i = 0; i <= priceSteps; i++) {
                    const price = (minBidAmount + (i / priceSteps) * (maxBidAmount - minBidAmount)).toFixed(1);
                    const priceElement = document.createElement('p');
                    priceElement.classList.add('chart-text');
                    priceElement.textContent = price;
                    priceContainer.prepend(priceElement);
                }
    
                const dateContainer = document.querySelector('.dates');
                dateContainer.innerHTML = '';
    
                const dateSteps = filteredBidTimestamps.length - 1;
                filteredBidTimestamps.forEach((timestamp, index) => {
                    if (index % Math.ceil(dateSteps / 6) === 0) {
                        const dateElement = document.createElement('p');
                        dateElement.classList.add('chart-text');
                        dateElement.textContent = timestamp.split('T')[0];
                        dateContainer.appendChild(dateElement);
                    }
                });
            };
    
            const filterData = (range) => {
                let filteredBidAmounts = originalBidAmounts;
                let filteredBidTimestamps = originalBidTimestamps;
    
                const now = new Date();
    
                switch (range) {
                    case '1': // 7 days
                        const sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);
                        filteredBidAmounts = originalBidAmounts.filter((_, i) => new Date(originalBidTimestamps[i]) >= sevenDaysAgo);
                        filteredBidTimestamps = originalBidTimestamps.filter(timestamp => new Date(timestamp) >= sevenDaysAgo);
                        break;
                    case '2': // 1 month
                        const oneMonthAgo = new Date(now.getFullYear(), now.getMonth() - 1, now.getDate());
                        filteredBidAmounts = originalBidAmounts.filter((_, i) => new Date(originalBidTimestamps[i]) >= oneMonthAgo);
                        filteredBidTimestamps = originalBidTimestamps.filter(timestamp => new Date(timestamp) >= oneMonthAgo);
                        break;
                    case '3': // 1 year
                        const oneYearAgo = new Date(now.getFullYear() - 1, now.getMonth(), now.getDate());
                        filteredBidAmounts = originalBidAmounts.filter((_, i) => new Date(originalBidTimestamps[i]) >= oneYearAgo);
                        filteredBidTimestamps = originalBidTimestamps.filter(timestamp => new Date(timestamp) >= oneYearAgo);
                        break;
                    case '4': // All times
                    default:
                        break;
                }
    
                updateChart(filteredBidAmounts, filteredBidTimestamps);
            };
    
            document.querySelector('.chart-select').addEventListener('change', (event) => {
                filterData(event.target.value);
            });
    
            updateChart(originalBidAmounts, originalBidTimestamps);
        }
    });
</script>

<script>
    const auctionShare = document.querySelector('.auction-share-action');
    if (auctionShare){
        const auctionShareBtn = auctionShare.querySelector('.auction-share-btn');
        const auctionShareText = auctionShare.querySelector('.auction-action-text');

        auctionShareBtn.addEventListener('click', () => {
            navigator.clipboard.writeText(window.location.href);
            auctionShareText.textContent = 'Copied';
            setTimeout(() => auctionShareText.textContent = 'Share', 3000);
        });
    }
</script>

{% endblock scripts %}
