{% extends "layout.html" %}

{% block title %}
    Road Map
{% endblock title %}

{% block main %}

<section class="hero-cards-section">
    <div class="hero-cards">
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Randy George</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image2.jpeg" alt="">
            </div>
        </div>
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Zain Lubin</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image1.jpeg" alt="">
            </div>
        </div>
        <div class="hero-card">
            <div class="artist-desc">
                <div class="artist-info">
                    <h4 class="artist-name">Jakob George</h4>
                    <div class="verified-icon">
                        <i class="star-icon"></i>
                        <i class="fa-solid fa-check check-icon"></i>
                    </div>
                </div>
                <p class="artist-subinfo">Art Director</p>
            </div>
            <div class="artist-image">
                <img src="/static/img/image3.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="roadmap-section">
    <div class="container">
        <div class="roadmap">
            <div class="roadmap-info">
                <h2 class="section-title">Road-Map</h2>
                <p class="section-desc">Where Dreams Come True</p>
            </div>
            <div class="roadmap-container">
                <div class="roadmap-indicator">
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-circle"></i>
                    <i class="roadmap-vector"></i>
                </div>
                <div class="phase phase1">
                    <h3 class="phase-title">
                        Phase 1
                        <span class="phase-state-completed">(Completed)</span>
                    </h3>
                    <p class="phase-desc">
                        The project sparked from a single moment of inspiration. With some imagination and
                        work, it started to take shape.
                    </p>
                </div>
                <div class="phase phase2">
                    <h3 class="phase-title">
                        Phase 2
                        <span class="phase-state-completed">(Completed)</span>
                    </h3>
                    <p class="phase-desc">
                        Building dreams require the right people and tools. We will look
                        to hire the best talents in the space that shares our vision.
                    </p>
                </div>
                <div class="phase phase3">
                    <h3 class="phase-title">
                        Phase 3
                        <span class="phase-state-onprogress">(On Progress)</span>
                    </h3>
                    <p class="phase-desc">
                        Watch out for the Imaginary Vehicles, “Human Leaf”. When there are
                        multiple universes, it's essential to have some transport.
                    </p>
                </div>
                <div class="phase phase4">
                    <h3 class="phase-title">
                        Phase 4
                        <span class="phase-state-onprogress">(On Progress)</span>
                    </h3>
                    <p class="phase-desc">
                        The Imaginary World continues to expand. Explore Imaginary Lands
                        and Companions that provide additional utility.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="newsletter-section">
    <div class="container">
        <div class="newsletter-faq">
            <div class="newsletter">
                <div class="newsletter-info">
                    <h2 class="section-title">
                        Get the Latest Super <br> Rare Update
                    </h2>
                    <p class="section-desc">
                        Sign up to our regular newsletter for news right. <br>
                        New product release and more
                    </p>
                </div>
                <form action="" class="get-in-touch-form">
                    <div class="get-in-touch-input-box">
                        <i class="fa-regular fa-envelope sms-icon"></i>
                        <input type="email" class="get-in-touch-input" placeholder="Email address">
                    </div>
                    <button type="submit" class="get-in-touch-button btn-green">Get In Touch</button>
                </form>
            </div>
            {% if faqs %}
            <div class="faq-container">
                <h2 class="faq-title">
                    Maybe your question is have been
                    answered, check this out!
                </h2>
                <div class="faq-list">
                {% for faq in faqs %}
                    <div class="faq dropdown">
                        <div class="faq-question dropdown-btn">
                            <h4>{{ faq.question }}</h4>
                            <i class="fa-solid fa-arrow-down arrow-icon"></i>
                        </div>
                        <p class="faq-answer section-desc dropdown-content">
                            {{ faq.answer }}
                        </p>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock main %}
